# Ignore configuration files that may contain sensitive information.
.idea
.vagrant
.vscode
backup
index.html

#Other
vendor
node_modules
docroot/_ignore

# OS specific mess.
Thumbs.db
.DS_Store

#eclipse
.project
.buildpath
/.settings

#NetBeans
nbproject

# Ignore Drupal Core files and Contribs.
docroot/misc
docroot/includes
docroot/profiles
docroot/modules
docroot/scripts
docroot/sites/all/modules/contrib
docroot/sites/all/themes/contrib
docroot/themes
docroot/authorize.php
docroot/CHANGELOG.txt
docroot/COPYRIGHT.txt
docroot/cron.php
docroot/.htaccess
docroot/index.php
docroot/INSTALL.mysql.txt
docroot/INSTALL.pgsql.txt
docroot/install.php
docroot/INSTALL.sqlite.txt
docroot/INSTALL.txt
docroot/LICENSE.txt
docroot/MAINTAINERS.txt
docroot/README.txt
docroot/robots.txt
docroot/robots-central.txt
docroot/UPGRADE.txt
docroot/update.php
docroot/web.config
docroot/xmlrpc.php
docroot/google6cc4277693acab0c.html
docroot/.well-known/
docroot/088a370aa369dd97af14452c3d3527f8.txt

# Ignore env.settings.php for acquia-env.
docroot/sites/default/env.settings.php


