div.dashboard-menu {
    margin: 15px 0 5px 38px;
}
/**
 * Tabs ===============================================================
 */
div.tabs-secondary {margin-bottom: 25px;}

ul.links li, ul.links li a {
    float: left;
}
.tabs {
    position:absolute;
    right:0px;
}

.primary-tabs {
    float:left;
    height:30px;
    margin:15px 0px 0px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

div.pager {
    margin:10px 0px 0px;
    height:30px;
}

.pager li,
.primary-tabs li {
    height:30px;
    position:relative;
    background:#eee url(images/bleeds.png) 50% 0px no-repeat;
}

.pager a,
.pager span,
.primary-tabs a {
    float:left;
    text-align:center;
    min-width:70px;
    padding:5px 10px;
    color:#333;
    text-shadow:#fff 0px 1px 0px;
}

.pager a,
.pager span {
    min-width:10px;
    padding:5px 15px;
}

.pager li:hover,
.primary-tabs li:hover { background-color:#f8f8f8; }

.pager li:first-child,
.primary-tabs li:first-child {
    border-radius:5px 0px 0px 5px;
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-radius:5px 0px 0px 5px;
    background-position:0% 0px;
}

.pager li:last-child,
.primary-tabs li:last-child {
    border-radius:0px 5px 5px 0px;
    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
    background-position:100% 0px;
}

.pager li.pager-current,
.primary-tabs li.active { background-color:#7bc; }

.pager li.pager-current span,
.primary-tabs li.active a {
    color:#fff;
    text-shadow:#38a 0px 1px 0px;
}

/* Secondary tabs, nested */
.secondary-tabs {
    min-width:150px;
    float:left;
    position:relative;
    margin:5px 5px 5px 0px;
    font-size:11px;
    background:#59a url(images/buttons.png) -800px 50% no-repeat;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    z-index: 1;
}

.secondary-tabs:hover {
    background:#59a;
    opacity:.9;
}

ul.secondary-tabs li,
ul.secondary-tabs li a {
    background:transparent;
    float:none;
    height:auto;
    text-align:left;
}

.secondary-tabs a {
    color:#fff;
    text-shadow:#38a 0px 1px 0px;
    display:none;
    padding:0px 10px 0px 25px;
}

.secondary-tabs:hover a,
.secondary-tabs .active a { display:block; }

.secondary-tabs li:hover,
.secondary-tabs li.active { background:transparent; }
.secondary-tabs a:hover { background:#389 url(images/buttons.png) -800px 50% no-repeat; }

.secondary-tabs li:last-child a:hover {
    border-radius:0px 0px 3px 3px;
    -moz-border-radius:0px 0px 3px 3px;
    -webkit-border-radius:0px 0px 3px 3px;
}

.secondary-tabs li:first-child a:hover {
    border-radius:3px 3px 0px 0px;
    -moz-border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;
}


/** Admin menu adjustment */
.pager li, .primary-tabs li {
    height: 30px;
    position: relative;
    background: #B2B2B2;
}
.pager li:hover, .primary-tabs li:hover {
    background: #999999;
}
.pager li.pager-current, .primary-tabs li.active {
    background: #000001;
}
.pager a, .pager span, .primary-tabs a {
    color: #FFFFFF;
    text-shadow: none;
    font-weight: bold;
}
.pager li.pager-current span, .primary-tabs li.active a {
    text-shadow: none;
}

/*Dashboards*/
#locale-translation-filter-form input.fluid {width: auto;}
#locale-translation-filter-form fieldset .form-type-select select {width: auto;position: relative; width: auto; z-index: 100;}
/*end Dashboards*/

#admin-menu .dropdown .admin-menu-icon > a span{
    width: 14px;
}

.primary-tabs li.active-trail {background: #00000F;}
.primary-tabs li.active-trail a {text-shadow: none;}
.primary-tabs li.active-trail a {color: #fff;}
.limiter .primary-tabs {
    height: auto;
}
.limiter .primary-tabs li {
    margin-bottom: 2px;
}

/* PAGER */
.pager {
    font-weight:normal;
    font-size:11px;
}

.pager ul.pager-list { float:left; }
.pager ul.pager-links { float:right; }

/* HIDE REDIRECT LINKS */
.page-node-edit #page-title .action-links, .field-type-field-collection fieldset.redirect-list {display: none;}

/* MENU PAGE: Souriau site settings */
.form-item-souriau-common-settings-information-copyrights-1,
.form-item-souriau-common-settings-information-copyrights-separator,
.form-item-souriau-common-settings-information-copyrights-2 {
    float: left;
}

/* SELECT */
select#edit-field-key-words-und {
    width: 100%;
    height: 500px;
}

/* Fix for pager block on Views admin UI */
.views-ui-display-tab-bucket.pager {
    height: auto;
    margin: auto;
    text-align: left;
    min-width: fit-content;
}
.views-ui-display-tab-bucket.pager .label {
    font-weight: normal;
    color: #666666;
    margin-right: 3pt;
}
.views-ui-display-tab-bucket.pager span,
.views-ui-display-tab-bucket.pager a {
    color: #0074bd;
    font-weight: normal;
    margin-left: 0.2083em;
    margin-right: 0.2083em;
    padding: 0;
}