.b-summary-cart {
  padding: 15px 0 232px;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @include media("<desktop") {
    padding: 15px 0 150px;
  }

  @include media("<tablet") {
    margin: 0 -20px;
    padding: 0 0 147px;
  }

  table {
    border-bottom: none;
    margin: 0;

    @include media("<tablet") {
      border-top: 1px solid #f0f1f4;
    }

    tr:nth-child(even) td {
      background: none;
    }

    td {
      position: relative;
      padding: 15px 35px 15px 0;
      vertical-align: middle;
      border-bottom: 1px solid #f0f1f4;

      @include media("<desktop") {
        padding-top: 29px;
        padding-bottom: 20px;
      }

      @include media("<tablet") {
        padding: 4px 37px 29px;
      }
    }

    th {
      padding: 7px 35px 7px 0;
    }

    thead {
      @include media("<tablet") {
        display: none;
      }
    }
  }

  .b-part-numb, .b-qty {
    @include media("<desktop") {
      text-align: center;
    }

    @include media("<tablet") {
      text-align: left;
      padding-right: 25px;
    }
  }

  .b-item-info {
    width: 53.2%;

    @include media("<desktop") {
      width: 47.6%;
    }
  }

  .b-part-numb {
    width: 21%;

    @include media("<desktop") {
      width: 25.3%;
    }

    @include media("<tablet") {
      margin: 0 0 18px;
    }
  }

  .b-qty {
    min-width: 112px;
  }

  .b-item-info, .b-part-numb, .b-qty {
    display: inline-block;
    margin-right: 10px;

    @include media("<tablet") {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }

  .remove-link {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    @include media("<desktop") {
      right: 12px;
    }

    @include media("<tablet") {
      position: static;
      float: right;
      right: 0;
      top: 0;
      margin: 3px -8px 0 0;
      transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -webkit-transform: translateY(0%);
    }
  }

  .pic {
    width: 24.5%;
    margin: 0 3.7% 0 0%;
    display: inline-block;
    vertical-align: middle;

    @include media("<desktop") {
      width: 22%;
      margin-right: 4.5%;
    }

    @include media("<tablet") {
      width: 67%;
      margin: 0 auto 5px;
      display: block;
    }
  }

  p {
    padding: 0;
  }

  .b-info {
    vertical-align: middle;
    display: inline-block;
    width: 65%;

    @include media("<tablet") {
      display: block;
      width: 100%;
      padding-right: 25px;
    }
  }

  .b-title {
    color: $blue2;
    font-family: $avenir-next-regular;
    font-size: 16px;
    line-height: 24px;

    a {
      text-decoration: none;
      color: inherit;

      .no-touchevents &:hover,
      .no-js &:hover {
        text-decoration: underline;
      }
    }
  }

  .b-empty-card {
    padding: 7px 0 0;
    text-align: center;

    @include media("<tablet") {
      padding: 30px 0 0;
    }

    p {
      color: $grey;
      font-size: 14px;
      line-height: 24px;
      padding: 0 0 22px;
      margin: 0;
    }
  }
}