.b-services {
  padding: 0 0 48px;

  @include media("<desktop") {
    padding: 0;
  }

  @include media("<tablet") {
    padding: 0 0 11px;
  }

  .b-main-description {
    position: relative;
    padding: 138px 0 50px;
    min-height: 460px;
    margin: 0 0 56px;

    @include media("<desktop") {
      padding: 63px 10px 18px;
      min-height: 365px;
      margin: 0 0 30px;
    }

    @include media("<tablet") {
      padding: 49px 10px 0;
      min-height: 1px;
      margin: 0 0 20px;
    }

    h2 {
      color: $blue2;
      font-size: 24px;
      line-height: 36px;
      margin: 0 0 33px;

      @include media("<desktop") {
        margin: 0 0 8px;
      }
    }

    .b-text {
      float: left;
      width: 335px;

      @include media("<desktop") {
        width: 290px;
      }

      @include media("<tablet") {
        width: auto;
        float: none;
        padding: 0 5px;
      }
    }

    .b-pic {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      width: calc((100% - 980px) / 2 + 610px);

      @include media("<desktop") {
        width: calc((100% - 768px) / 2 + 430px);
      }

      @include media("<tablet") {
        position: static;
        width: auto;
        margin: 0 -30px;
      }

      .pic {
        position: relative;
        width: 100%;
        height: 100%;
      }

      img {
        position: absolute;
        max-width: inherit;
        left: 50%;
        top: 50%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);

        @include media("<desktop") {
          width: 100%;
        }

        @include media("<tablet") {
          position: static;
          transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -webkit-transform: none;
        }
      }
    }
  }

  .b-advice {
    padding: 0 0 46px;

    @include media("<desktop") {
      padding: 0 10px 40px;
    }

    .b-pic {
      width: 509px;
      float: left;
      margin: 0 80px 0 0;

      @include media("<desktop") {
        display: block;
        float: none;
        width: auto;
        margin-right: 112px;
      }

      @include media("<tablet") {
        margin: 0 -30px;
      }
    }

    .b-video {
      padding: 0;
    }

    .b-text {
      overflow: hidden;
      padding: 43px 0 0;

      @include media("<desktop") {
        padding-right: 70px;
      }

      @include media("<tablet") {
        padding: 37px 5px 0;
      }
    }

    h2 {
      color: $blue2;
      font-size: 24px;
      line-height: 36px;
      margin: 0 0 33px;

      @include media("<desktop") {
        margin: 0 0 14px;
      }

      @include media("<desktop") {
        margin: 0 0 12px;
      }
    }
  }
}