.b-questions {
  padding: 0 0 32px;

  @include media("<desktop") {
    padding-left: 5px;
    padding-right: 5px;
  }

  @include media("<tablet") {
    padding: 0 0 51px;
  }

  .panel-group {
    width: 760px;

    @include media("<desktop") {
      width: auto;
    }
  }
}

.w-questions {
  padding: 67px 0 56px;

  @include media("<desktop") {
    padding: 47px 0 82px;
  }

  @include media("<tablet") {
    padding-bottom:  20px;
  }

  .b-questions {
    padding-bottom: 20px;
  }
}

.panel-group {
  .panel {
    border: none;
    box-shadow: none;
    padding: 0 0 19px 22px;

    @include media("<tablet") {
      padding-bottom: 0;

      & + .panel {
        margin: 0;
      }
    }
  }

  .panel-heading {
    padding: 0;
    border: none;

    a {
      text-decoration: none;
      color: inherit;
    }

    &.active-panel {
      a {
        font-weight: 700;
      }
    }
  }

  .panel-heading + .panel-collapse > .panel-body {
    border: none;
  }

  .panel-body {
    position: relative;
    padding: 0 0 0 13px;
    margin: 26px 0 9px 0;

    @include media("<tablet") {
      padding: 0;
      margin: 19px 0 12px;
    }

    &:before {
      position: absolute;
      left: -21px;
      width: 0;
      top: 0;
      bottom: 30px;
      border-left: 1px solid #f2f2f2;
      content: "";
      display: block;

      @include media("<tablet") {
        left: -29px;
      }
    }
  }


}