/**
 * Block example.
 */

.block-example {

  text-align: center;
  font-family: $main-sans-serif;
  text-transform: uppercase;
  font-size: px-to-em(24px);
  margin: 1em 0;

  &:after {
    content: 'desktop';
  }

  @include media("<desktop") {
    font-size: px-to-em(20px);

    &:after {
      content: 'tablet';
    }
  }

  @include media("<tablet") {
    font-size: px-to-em(14px);

    &:after {
      content: 'mobile';
    }
  }
}
